.projects-root {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.projects-body
{
  padding: 40px;
  padding-bottom: 0;
}

.project-data-controls
{
  max-width: 1078px;
}

.cards-container
{
  max-height: calc(100vh - 154px); /* TODO: Fix this using calc depending on height of navbar */
  overflow-y: auto;
  max-width: 1078px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cards-container::-webkit-scrollbar {
  width: 3px;
}
 
.cards-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
}
 
.cards-container::-webkit-scrollbar-thumb {
  background-color: #999999;
  outline: none;
}

.card-root .logo-group
{
  position: relative;
  height: 28px;
}

.logo-group .blockchain-logo
{
  height: 28px;
  width: 28px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #dddddd;
  position: absolute;
  background-color: #ffffff;
}

.logo-group .blockchain-logo > img
{
  width: 16px;
  height: 16px;
}

.card-root 
{
  background-color: #ffffff;
  border: solid 1px #E5E5E5;
  border-radius: 20px;
  box-shadow: 0px 4px 6px 0px #0000000F;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.card-root.killed
{
  box-shadow: none;
}

.card-root.failed
{
  border-color: #CD3A4C;
  background-color: #fdf7f8;
}

.card-root.killed
{
  background-color: transparent;
}

.card-root.killed .card-itemrow,
.card-root.killed .title 
{
  color: #666666;
}

.card-root .card-itemrow
{
  display: flex;
  justify-content: space-between;
}

.vertically-center
{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.card-root .card-itemrow .left
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.card-root .card-itemrow .right
{
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-data-controls
{
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
}

.project-data-controls .left
{
  display: flex;
  gap: 20px;
}

.project-data-controls .addtestnet-content
{
  display: flex; 
  gap: 5px; 
  align-items: center;
}

.project-data-controls .right
{
  display: flex;
  gap: 10px;
  align-items: center;
}
