.projects-root {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.projects-body
{
  padding: 40px;
  padding-bottom: 0;
}

.project-data-controls
{
  max-width: 1078px;
}

.cards-container
{
  max-height: calc(100vh - 154px); /* TODO: Fix this using calc depending on height of navbar */
  overflow-y: auto;
  width: 1078px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blockchain-logo
{
  width: 28px;
  height: 28px;
}

.card-root 
{
  background-color: #ffffff;
  border: solid 1px #E5E5E5;
  border-radius: 20px;
  box-shadow: 0px 4px 6px 0px #0000000F;
  padding: 20px;
}

.card-root .card-itemrow
{
  display: flex;
  justify-content: space-between;
}

.card-root .card-itemrow .left
{
  display: flex;
  justify-content: flex-start;
}

.card-root .card-itemrow .right
{
  display: flex;
}

.project-data-controls
{
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
}

.project-data-controls .left
{
  display: flex;
}

.project-data-controls .right
{
  display: flex;
}
