.badge-root
{
  padding: 0 8px;
  background-color: var(--main-bg-color);
  border: solid 1px var(--border-1);
  border-radius: 20px;
  /* box-shadow: 0px 4px 6px 0px #0000000F; */
  min-width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--faded-4);
}