.dropdown-root
{
  display: flex;
}

.dropdown-list
{
  position: absolute;
  background-color: #ffffff;
  border: #dddddd;
  box-shadow: 0px 8px 24px 0px #0000001A;
  border-radius: 20px;
  padding: 10px;
}