.icon-root
{
  display: inline-block;
  position: relative;
}

.icon-root.clickable
{
  cursor: pointer;
}

.icon-root svg
{
  display: inline;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  left: 0;
}

.icon-root.regular 
{
  width: 16px;
  height: 16px;
}

.icon-root.medium
{
  width: 12px;
  height: 12px;
}

.icon-root.small
{
  width: 8px;
  height: 8px;
}

.icon-root.extrasmall
{
  width: 4px;
  height: 4px;
}

.icon-root.success svg path
{
  fill: var(--success);
}

.icon-root.warning svg path
{
  fill:  var(--warning);
}

.icon-root.faded-1 svg path
{
  fill: var(--faded-1);
}

.icon-root.faded-2 svg path
{
  fill: var(--faded-2);
}

.icon-root.linkblue svg path
{
  fill: var(--link);
}

.icon-root.failed svg path
{
  fill: var(--failed);
}

.icon-root.whimsy svg path
{
  fill: var(--whimsy);
}