.navbar-root {
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-root a {
  color: var(--faded-2);
  text-decoration: none;
}

.navbar-root .right,
.navbar-root .left 
{
  display: flex;
  justify-content: flex-start;
  gap: 48px; 
  align-items: center;
}

.navbar-root .tab
{
  display: flex;
  align-items: center;
  gap: 6px;
}

.navbar-root .right
{
  justify-content: flex-end;
}

.navbar-root .userbubble
{
  cursor: pointer;
  min-width: 2ch;
  min-height: 2ch;
  border-radius: 100%;
  border: solid 1px var(--faded-2);
  padding: 4px;
  gap: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}