body {
  background-color: #f6f8fa;
  margin: 0;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.typography-h2
{
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
}

.typography-semibold-14
{
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.typography-semibold-16
{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.typography-medium-14
{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.typography-medium-13
{
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}

.typography-gray9
{
  color: #999999;
}

.typography-graya
{
  color: #aaaaaa;
}

.typography-success-green-dark
{
  color: #509900;
}

.typography-link-lightblue
{
  color: #2f80ed;
}

.typography-warning-yellow
{
  color: #db9000;
}

.typography-failed-red
{
  color: #cd3a4c;
}