body {
  margin: 0;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.typography-h2
{
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
}

.typography-semibold
{
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.typography-gray9
{
  color: #999999;
}

.typography-success-green-dark
{
  color: #509900;
}

.typography-link-lightblue
{
  color: #2f80ed;
}
