:root
{
  --main-bg-color: #f6f8fa;
  --card-body-color: #ffffff;
  --box-shadow-color: #0000001A;
  --active-bg: #f6f8fa;
  --border-1: #e5e5e5;
  --faded-1: #999999;
  --faded-2: #aaaaaa;
  --faded-3: #dddddd;
  --faded-4: #666666;
  --success: #509900;
  --link: #2f80ed;
  --warning: #db9000;
  --failed: #cd3a4c;
  --failed-faint: #fdf7f8;
  --whimsy: #7B61FF;
  --dark: #222222;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.typography-h2
{
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
}

.typography-semibold-14
{
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.typography-semibold-16
{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.typography-medium-14
{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.typography-medium-13
{
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}

.typography-faded-1
{
  color: var(--faded-1);
}

.typography-faded-2
{
  color: var(--faded2);
}

.typography-success
{
  color: var(--success);
}

.typography-link
{
  color: var(--link);
}

.typography-warning
{
  color: var(--warning);
}

.typography-failed
{
  color: var(--failed);
}

.typography-whimsy
{
  color: var(--whimsy);
}